@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --secondary-font-family: Hind Madurai, sans-serif;
  --accent-color-with-overlay: #d23166;
  --accent-color: #d64374;
  --transition-funktion: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero__section {
  max-width: 1600px;
  background-color: rgba(242, 206, 218, 0.3);
}

.hero {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/hero-img/milk.png"), url("../images/hero-img/ice-cream.png"), url("../images/hero-img/ellipse.png"), url("../images/hero-img/ellipse2.png");
  background-position: top 150px right -180px, top 20px right -60px, top 330px right 60px, top 680px right 130px;
  background-repeat: no-repeat;
}

.hero__banner {
  padding: 196px 0 213px 0;
  max-width: 665px;
}

.hero__pretitle {
  color: #0f0101;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.1em;
  margin-bottom: 6px;
}

.hero__title {
  font-family: "fredoka one", cursive;
  font-weight: 500;
  font-size: 57px;
  line-height: 1.21;
  letter-spacing: 0.01em;
  color: rgba(15, 1, 1, 0.9);
  margin-bottom: 35px;
}

.pink {
  color: #d23166;
}

.hero__text {
  font-family: "Hind Madurai", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(15, 1, 1, 0.6);
  margin-bottom: 50px;
}

.order {
  background-color: #f8edf0;
}

.order__container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 439px;
  padding-right: 15px;
  padding-top: 90px;
  padding-bottom: 162px;
}

.order__img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 35px;
}

.order__title {
  max-width: 621px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 1.18;
  color: #000000;
}

.order__desc {
  max-width: 607px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #0f0101;
  opacity: 0.7;
}

.options {
  margin-bottom: 52px;
}

.options__item:not(:last-child) {
  margin-bottom: 15px;
}

.options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: #ffffff;
  border-radius: 3px;
}

.options__text {
  font-size: 22px;
  line-height: 1.18;
  color: #000000;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download__item:not(:last-child) {
  margin-right: 21px;
}

.download__item:first-child {
  background-image: url(.././images/order-img-svg/google-play.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.download__item:last-child {
  background-image: url(.././images/order-img-svg/app-store.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.download__button:first-child {
  width: 200px;
  height: 77px;
  background-color: transparent;
  cursor: pointer;
}

.download__button:last-child {
  width: 173px;
  height: 88px;
  background-color: transparent;
  cursor: pointer;
}

.button {
  color: #fafafa;
  background-color: #d23166;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  cursor: pointer;
  border: none;
  padding: 15px 50px;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */