<section class="features__section">
  <div class="features__container">
    <ul class="features__list">
      <li class="features__item">
        <a href="" class="card">
          <div class="card__thumb card__wrap--shipping"></div>
          <p class="card__title">Free Shipping</p>
          <p class="card__description">Last Chance! Free shipping on all orders ends today.</p></a
        >
      </li>
      <li class="features__item">
        <a href="" class="card">
          <div class="card__thumb card__wrap--packaging"></div>
          <p class="card__title">Quick Packaging</p>
          <p class="card__description">Last Chance! Free shipping on all orders ends today.</p></a
        >
      </li>
      <li class="features__item">
        <a href="" class="card">
          <div class="card__thumb card__wrap--cash-back"></div>
          <p class="card__title">100% Money Back</p>
          <p class="card__description">Last Chance! Free shipping on all orders ends today.</p></a
        >
      </li>
      <li class="features__item">
        <a href="" class="card">
          <div class="card__thumb card__wrap--delivery"></div>
          <p class="card__title">Fast Delivery</p>
          <p class="card__description">Last Chance! Free shipping on all orders ends today.</p></a
        >
      </li>
    </ul>
  </div>
</section>
