<footer class="footer">
    <div class="footer-thumb">
        <!-- Logo -->
        <a href="" class="logo">
            <img class="Logo__image" src="./images/logo.png" alt="logo" width="79" height="79" />
        </a>
        <div class="container footer__container">
        
            <!-- Social -->
            <div class="social">
                <p class="social__text">Some food has looked so awful that it's looked like something that the dog's brought
                    home.</p>
        
                <h2 class="social__title">Follow Us</h2>
                <ul class="social_list">
                    <li class="social__item">
                        <a href="" class="social__link">
                            <img class="social__icon" src="./images/footer-img/facebook 1.png" alt="facebook" width="15"
                                height="15" />
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link">
                            <img class="social__icon" src="./images/footer-img/twitter 1.png" alt="twitter" width="15"
                                height="15" />
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link">
                            <img class="social__icon" src="./images/footer-img/instagram 1.png" alt="instagram" width="15"
                                height="15" />
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link">
                            <img class="social__icon" src="./images/footer-img/linkedin 1.png" alt="linkedin" width="15"
                                height="15" />
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Site nav -->
            <nav>
                <ul class="footer-nav">
                    <li class="footer-nav__item">
                        <a class="footer-nav__link footer-nav--current" href="">Home</a>
                    </li>
        
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="">Product</a>
                    </li>
        
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="">Blog</a>
                    </li>
        
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="">Pricing</a>
                    </li>
        
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="">Testimonials</a>
                    </li>
        
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <!-- Policy -->
            <ul class="policy">
                <li class="policy__item">
                    <a href="" class="policy__link">Delivery Information</a>
                </li>
                <li class="policy__item">
                    <a href="" class="policy__link">Privacy Policy</a>
                </li>
                <li class="policy__item">
                    <a href="" class="policy__link">Terms & Condition</a>
                </li>
                <li class="policy__item">
                    <a href="" class="policy__link">Search Terms</a>
                </li>
                <li class="policy__item">
                    <a href="" class="policy__link">Order & Return</a>
                </li>
            </ul>
        
            <!-- Form -->
            <div class="footer-sign">
                <h2 class="footer-sign__title">Newsletter</h2>
                <form action="" class="footer-sign__form">
                    <input type="email" class="footer-sign__input" name="email" placeholder="Your Email">
                    <button class="button footer-btn" type="submit">Subscribe</button>
                </form>
                <ul class="payment">
                    <li class="payment__item">
                        <a href="" class="payment__link">
                            <img src="./images/footer-img/paypal.png" alt="">
                        </a>
                    </li>
                    <li class="payment__item">
                        <a href="" class="payment__link">
                            <img src="./images/footer-img/mastercard.png" alt="">
                        </a>
                    </li>
                    <li class="payment__item">
                        <a href="" class="payment__link">
                            <img src="./images/footer-img/visa 1.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>