<section class="section section--presentation">
    <div class="presentation">
        <div class="presentation__box">
            <h2 class="presentation__title">Brown Sugar Oatmea</h2>
            <p class="presentation_text">Together with McDonald’s, Burger King has grown to become synonymous with burgers in the US.Together with McDonald’s, Burger King has grown to become synonymous.</p>
            <button class="presentation__button" type="button">See Details</button>
        </div>
        <img data-aos="zoom-in"
            class="presentation__img-ice"
            src="./images/presentation-img/pres-ice-cream.png"
            alt="Ice-cream foto"
            width="655"
            height="656.8"/>
        <img data-aos="zoom-in"
            class="presentation__img-ellipse"
            src="./images/presentation-img/pres-ellipse.png"
            alt="Shadow ice-creame"
            width="283"
            height="27.1"/>
    </div>
</section>