<section class="review">
    <div class="review__container">
    <div>
    <div class="review__wrap">
        <img class="review__icon" src="./images/review-img-svg/girl-main.svg" alt="girl" width="59" height="58">
    <div class="review__box">
        <h2 class="review__title">Adele A. McNeill</h2>
        <p class="review__text">AMIRICAN</p>
    </div>
    </div>
    <div class="feedback">
        <img class="feedback__icon" src="./images/review-img-svg/left-quotes.svg" alt="opening quotes" width="10.97" height="10">
        <p class="feedback__text">Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every Bite.Add a joy of best Taste. Foodie
        Moments.</p>
        <img class="feedback__icon feedback__icon--right" src="./images/review-img-svg/right-quotes.svg" alt="closing quotes" width="10.97" height="10">
    </div>
    <div>
        <ul class="feedback-photos">
            <li class="feedback-photos__item">
                <img src="./images/review-img-svg/left-arrow.svg" alt="opening arrow" width="14" height="14">
            </li>
            <li class="feedback-photos__item">
                <img src="./images/review-img-svg/man.svg" alt="man" width="35" height="35">
            </li>
            <li class="feedback-photos__item">
                <img src="./images/review-img-svg/girl-center.svg" alt="girl" width="57.81" height="57.81">
            </li>
            <li class="feedback-photos__item">
                <img src="./images/review-img-svg/girl-right.svg" alt="girl" width="35" height="35">
            </li>
            <li class="feedback-photos__item">
                <img src="./images/review-img-svg/right-arrow.svg" alt="closing arrow" width="14" height="14">
            </li>
        </ul>
    </div>
    </div>
    <div class="review-image">
        <img src="./images/review-img-svg/ice-cream-review.jpg" alt="ice-cream" width="564" height="442">
    </div>
    </div>
</section>